<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKNKW0tsC_tQ7bksb0NhJyQqd9_qGA4tQ</string>
	<key>GCM_SENDER_ID</key>
	<string>980095994892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muse.app</string>
	<key>PROJECT_ID</key>
	<string>muse-dev-e029c</string>
	<key>STORAGE_BUCKET</key>
	<string>muse-dev-e029c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980095994892:ios:d24b83b0b4e4f590327229</string>
</dict>
</plist>